:root {
  /*-----colour variables set-----*/
  --background-colour: hsl(169, 4%, 52%);
  --section-background-colour: hsl(242, 16%, 35%);
  --text-colour: hsl(27, 24%, 82%);
  --heading-text-colour: hsl(105, 26%, 61%);
  --link-text-colour:hsl(87, 23%, 75%);
}

nav {
    border-bottom: 1px solid black;
}

ul {
    padding-left: 0;
}

.nav-bar-link { 
    display: inline;
}

.nav-bar-link a::after {
    display: inline-block;
    content: ' > ';
}
label,
input,
button,
textarea {
  display: block;
  font: inherit;
  color: inherit;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid hsl(220, 10%, 75%);
}

textarea {
  resize: vertical;
}

input[type="checkbox"] {
    position: relative;
  }
  
  [type="checkbox"] + label {
    display: flex;
    align-items: center;
  }   
